@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Lobster+Two:ital,wght@1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color1 {
    background-color: #7FC8A9
}
$color2 {
    background-color: #D5EEBB
}
$color3 {
    background-color: #5F7A61
}
$color4 {
    background-color: #444941
}


body {
    font-family: 'Merriweather', serif;
    background-color: #D5EEBB;
    color: #444941;
    font-size: 16px;
    margin: 0 ;
}

header {
    background-color: #7FC8A9;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.logo {
    font-family: 'Lobster Two', cursive;
    color: #444941;
    font-size: 3rem;
    margin: auto 30px;
}

.main_pages {
    display: flex;
    flex-direction: column;
}

.items {
    margin: 5px;
}

nav a {
    color: #444941;
    text-decoration: none;
}

main {
    max-width: 500px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

section.presentation {
    background-color: yellowgreen;
    margin: 30px auto;
    border-radius: 10px;
    
}


main img {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

section.presentation .description {
    padding: 10px;
}

h1 {
    font-family: 'Lobster Two', cursive;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 15px;
}





footer{
    background-color: black;  
    height: 110px;    
}


.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    color: blanchedalmond;
    text-decoration: none;
    padding: 10px;
}

.copyright {
    margin: 35px auto;
    width: 80%;
    text-align: center; 
}